body{
    background-color: crimson;
    text-align: center;
}

.div_1{
    background-color: floralwhite;
    float: none;
    padding: 10px;
    border-radius: 10px;
}

#login{
    width: 30%;
}

#output {
    padding: 15px;
    width: 80%;
    background-color: seashell;
    border-radius: 30px;
}

#number1_input , #number2_input {
    width: 30%;
}

#question , #answer {
    color: black;
    font-size: 30px;
}

#test_style {
    color: whitesmoke;
}